# Tidyverse-readr

In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.6     v dplyr   1.0.7
v tidyr   1.2.0     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## readr  

Most of readr’s functions are concerned with turning flat files into data frames:
- read_csv() - reads comma-delimited files
- read_csv2() - reads semicolon-separated files 
- read_tsv() - reads tab-delimited files, and
- read_delim() - reads in files with any delimiter.
- read_fwf() - reads fixed-width files specify fields either by their widths with fwf_widths() or their position with
- fwf_positions().
- read_table() reads a common variation of fixed-width files where columns are separated by white space
- read_log() reads Apache style log files.

### read_*()

In [19]:
## default methods

read_csv("temp.csv")

read_csv("a,b,c
1,2,3
4,5,6")

read_delim("x|y\n1|'a,b'",delim  = "|")

Rows: 3 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): Name
dbl (2): SLNo, Val


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  SLNo Name    Val
1 1    Ram      2.4
2 2    Sai     23.5
3 3    Krishna  6.8

Rows: 2 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): a, b, c


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b c
1 1 2 3
2 4 5 6

Rows: 1 Columns: 2

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: "|"
chr (1): y
dbl (1): x


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y
1 1 'a,b'

In [11]:
## skip lines

read_csv("A, B, C
a,b,c
x,y,z
1,2,3", skip=2)

## skip commented lines
read_csv("# A comment I want to skip
x,y,z
1,2,3", comment = "#")

Rows: 1 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): x, y, z


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y z
1 1 2 3

Rows: 1 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): x, y, z


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y z
1 1 2 3

In [15]:
## specify column names
read_csv("1,2,3\n4,5,6", col_names = FALSE)

## specify NA value
read_csv("a,b,c\n1,2,.\nx,y,z", na = ".")

Rows: 2 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): X1, X2, X3


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3
1 1  2  3
2 4  5  6

Rows: 2 Columns: 3

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (3): a, b, c


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b c
1 1 2 NA
2 x y z

Compared to Base R read.csv()
- They are typically much faster (~10x) than their base equivalents. 
- Long-running jobs have a progress bar, so you can see what’s happening. 
- They produce **tibbles**.
- They don’t convert character vectors to factors, use row names, or munge the column names. 
- They are more reproducible. Base R functions inherit some behavior from your operating system and environment variables, so import code that works on your computer might not work on someone else’s.

### parse_*()

In [29]:
str(parse_logical(c("TRUE", "FALSE", "NA")))
parse_integer(c("1", "2", "3"))
parse_integer(c("1", "231", ".", "456"), na = ".")
parse_double("1,23", locale = locale(decimal_mark = ","))

problems(parse_integer(c("123", "345", "abc", "123.45")))

 logi [1:3] TRUE FALSE NA

[1] 1 2 3

[1] "2010-01-01" "1979-10-14"

[1]   1 231  NA 456

[1] 1.23

  row col expected               actual
1 3   NA  no trailing characters abc
2 4   NA  no trailing characters 123.45

In [49]:
parse_number("20%")
parse_number("It cost $123,45")
x=parse_number("1 234.56", locale = locale(decimal_mark = ".", grouping_mark = " "))

[1] 20

[1] 12345

In [36]:
charToRaw("Hadley")

[1] 48 61 64 6c 65 79

In [43]:
parse_character("El Ni\xf1o was particularly bad this year", locale = locale(encoding = "ISO-8859-9"))
parse_character("\x82\xb1\x82\xf1\x82\xc9\x82\xbf\x82\xcd", locale = locale(encoding = "Shift-JIS"))

guess_encoding(charToRaw("El Ni\xf1o was particularly bad this year"))
guess_encoding(charToRaw("\x82\xb1\x82\xf1\x82\xc9\x82\xbf\x82\xcd"))

[1] "El Niño was particularly bad this year"

[1] "<U+3053><U+3093><U+306B><U+3061><U+306F>"

  encoding   confidence
1 ISO-8859-1 0.46
2 ISO-8859-9 0.23

  encoding confidence
1 KOI8-R   0.42

In [51]:
fruit <- c("apple", "banana")
parse_factor(c("apple", "banana", "banana"), levels = fruit)

[1] apple  banana banana
Levels: apple banana

In [57]:
parse_date(c("2010-01-01", "1979-10-14"))
parse_date("01/02/15", "%m/%d/%y")

parse_time("01:10 pm")
parse_time("20:10:01")
parse_datetime("2010-10-01T2010")
parse_date("1 janvier 2015", "%d %B %Y", locale = locale("fr"))

[1] "2010-01-01" "1979-10-14"

[1] "2015-01-02"

13:10:00

20:10:01

[1] "2010-10-01 20:10:00 UTC"

[1] "2015-01-01"

In [58]:
## Guessing
guess_parser("2010-10-01")
guess_parser("15:01")
guess_parser(c("TRUE", "FALSE"))
guess_parser(c("1", "5", "9"))
guess_parser(c("12,352,561"))
str(parse_guess("2010-10-10"))

[1] "date"

[1] "time"

[1] "logical"

[1] "double"

[1] "number"

 Date[1:1], format: "2010-10-10"

In [65]:
temp <- read_csv(readr_example("challenge.csv"),
      guess_max = 1001    ## default is 1000
    )

challenge <- read_csv(
      readr_example("challenge.csv"),
      col_types = cols(
        x = col_double(),
        y = col_date()
      )
    )  

challenge2 <- read_csv(readr_example("challenge.csv"),
                             col_types = cols(.default = col_character())
      )

Rows: 2000 Columns: 2

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl  (1): x
date (1): y


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [66]:
write_csv(challenge, "temp.csv")